.App {
    text-align: center;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    margin: 5px;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-item {
    background-color: #e498982a;
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
    text-align: left;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.task-item.completed {
    text-decoration: line-through;
    background-color: #8de6812b;
}
